/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { CventSDKCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import { CventSDKError } from "../models/errors/cventsdkerror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update Budget Cstm Fld Answers
 *
 * @remarks
 * Updates answers to a budget custom field using the details you provided in the body of the request. Answers must be formatted correctly according to the specific type of custom field. The available fields and their formats are listed below:
 * * **Open Ended Text - Date/Time**. This field type has several possible user-selected answer formats:
 *   - Date/Time (2022-01-01T12:00:00.000Z). Denoted by *DateTime* in the response payload.
 *   - Date (2022-01-01). Denoted by *Date* in the response payload.
 * * **Open Ended Text - One Line**. This field type has several possible user-selected answer formats:
 *   - General (Text). Denoted by *General* in the response payload.
 *   - Number (Whole numbers, 10, -10). Denoted by *Number* in the response payload.
 *   - Currency (Positive decimal value, 10.5). Denoted by *Currency* in the response payload.
 *   - Decimal (-20.5). Denoted by *Decimal* in the response payload.
 *   - US Phone Number (123-456-7890). Denoted by *USPhoneNumber* in the response payload.
 *   - Email Address (h.potterfield@test.com). Denoted by *Email* in the response payload.
 * * **Open Ended Text - Comment Box**. Answer format is free-text (any value). Denoted by *FreeText* in the
 *     response payload.
 * * **Choice - Single Answer (Drop-Down, Vertical, Horizontal).** Answer format is exactly one response to a
 *     list of user-defined choices. Denoted by *SingleSelect* in the response payload.
 * * **Choice - Multiple Answers (Multi-Select Box, Vertical, Horizontal).** Answer format is one or more
 *     responses from a list of user-defined choices. Denoted by *MultiSelect* in the response payload.
 *
 * To delete a custom field answer, either omit the `value` parameter or provide an empty list of answers for the specified custom field ID.
 *
 * @see {@link #oauth2-auth-code-planner-admin} - More about OAuth2 authorization code support for administrators
 */
export function budgetAnswerBudgetCustomField(
  client: CventSDKCore,
  request: operations.AnswerBudgetCustomFieldRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.CustomField2,
    | errors.ErrorResponse
    | CventSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: CventSDKCore,
  request: operations.AnswerBudgetCustomFieldRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.CustomField2,
      | errors.ErrorResponse
      | CventSDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.AnswerBudgetCustomFieldRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload["custom-field2"], { explode: true });

  const pathParams = {
    budgetItemId: encodeSimple("budgetItemId", payload.budgetItemId, {
      explode: false,
      charEncoding: "percent",
    }),
    customFieldId: encodeSimple("customFieldId", payload.customFieldId, {
      explode: false,
      charEncoding: "percent",
    }),
    id: encodeSimple("id", payload.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/events/{id}/budget-items/{budgetItemId}/custom-fields/{customFieldId}/answers",
  )(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "answerBudgetCustomField",
    oAuth2Scopes: ["budget/budget-items:write"],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 1000,
          maxInterval: 60000,
          exponent: 1.5,
          maxElapsedTime: 3600000,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "429", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    components.CustomField2,
    | errors.ErrorResponse
    | CventSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.CustomField2$inboundSchema),
    M.jsonErr([400, 401, 403, 404, 429], errors.ErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
